
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
    <div class=" row mr-auto">
        <div class="col-2" ></div>
        <div class="col-10">
        <form action="." method="post">
            {% csrf_token %}
            <span><a class="btn btn-primary" href=".">No</a></span>
{#            <span><button class="btn btn-primary" type="reset">No</button></span>#}
            <span><button class="btn btn-danger" type="submit">Confirm Delete</button></span>
{#            <a class="btn btn-danger" href="{% url 'home' %}"> Confirm Delete</a>#}
        </form>
            </div>
    </div>
</body>
</html>