{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="row justify-content-center">
        <legend class="col-5 border-bottom mb-4 mt-5 text-center ">Logged Out!</legend>
    </div>
    <div class="container">

        <h4>You are successfully logged out. Thank you for being a part of <strong>PICKnDROP</strong>. </h4>
        <h5><a href="{% url 'login' %}">Log in</a>.</h5>
    </div>

  </body>
</html>
